{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "cwd": "babelrc",
      "alias": {
        "crypto": "./dist/crypto/index.js"
      }
    }]
  ]
}
